/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.ConnectCustomFieldValues;
import com.atlassian.jira.v3.model.EntityPropertyDetails;
import com.atlassian.jira.v3.model.WorkflowRulesSearch;
import com.atlassian.jira.v3.model.WorkflowRulesSearchDetails;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;
import java.util.UUID;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/atlassian-connect/1/migration")
public interface AppMigrationApi {

	/**
	 * Bulk update custom field value
	 * <p>
	 * Updates the value of a custom field added by Connect apps on one or more issues. The values of up to 200 custom fields can be updated.  **[Permissions](#permissions) required:** Only Connect apps can make this request
	 *
	 */
	@PUT
	@Path("/field")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object appIssueFieldValueUpdateResourceUpdateIssueFieldsPut(@HeaderParam("Atlassian-Transfer-Id") UUID atlassianTransferId, ConnectCustomFieldValues connectCustomFieldValues) throws ApiException, ProcessingException;

	/**
	 * Bulk update entity properties
	 * <p>
	 * Updates the values of multiple entity properties for an object, up to 50 updates per request. This operation is for use by Connect apps during app migration.
	 *
	 */
	@PUT
	@Path("/properties/{entityType}")
	@Consumes({"application/json"})
	void migrationResourceUpdateEntityPropertiesValuePut(@HeaderParam("Atlassian-Transfer-Id") UUID atlassianTransferId, @PathParam("entityType") String entityType, List<EntityPropertyDetails> entityPropertyDetails) throws ApiException, ProcessingException;

	/**
	 * Get workflow transition rule configurations
	 * <p>
	 * Returns configurations for workflow transition rules migrated from server to cloud and owned by the calling Connect app.
	 *
	 */
	@POST
	@Path("/workflow/rule/search")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	WorkflowRulesSearchDetails migrationResourceWorkflowRuleSearchPost(@HeaderParam("Atlassian-Transfer-Id") UUID atlassianTransferId, WorkflowRulesSearch workflowRulesSearch) throws ApiException, ProcessingException;
}
