/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.ConnectModules;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/atlassian-connect/1/app/module/dynamic")
public interface DynamicModulesApi {

	/**
	 * Get modules
	 * <p>
	 * Returns all modules registered dynamically by the calling app.  **[Permissions](#permissions) required:** Only Connect apps can make this request.
	 *
	 */
	@GET

	@Produces({"application/json"})
	ConnectModules dynamicModulesResourceGetModulesGet() throws ApiException, ProcessingException;

	/**
	 * Register modules
	 * <p>
	 * Registers a list of modules.  **[Permissions](#permissions) required:** Only Connect apps can make this request.
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	void dynamicModulesResourceRegisterModulesPost(ConnectModules connectModules) throws ApiException, ProcessingException;

	/**
	 * Remove modules
	 * <p>
	 * Remove all or a list of modules registered by the calling app.  **[Permissions](#permissions) required:** Only Connect apps can make this request.
	 *
	 */
	@DELETE

	@Produces({"application/json"})
	void dynamicModulesResourceRemoveModulesDelete(@QueryParam("moduleKey") List<String> moduleKey) throws ApiException, ProcessingException;
}
