/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.*;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface IssuesApi {

	/**
	 * Archive issue(s) by issue ID/key
	 *
	 * Enables admins to archive up to 1000 issues in a single request using issue ID/key, returning details of the issue(s) archived in the process and the errors encountered, if any.  **Note that:**   *  you can&#39;t archive subtasks directly, only through their parent issues  *  you can only archive issues from software, service management, and business projects  **[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)  **License required:** Premium or Enterprise  **Signed-in users only:** This API can&#39;t be accessed anonymously.
	 *
	 */
	@PUT
	@Path("/issue/archive")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	IssueArchivalSyncResponse archiveIssues(IssueArchivalSyncRequest issueArchivalSyncRequest) throws ApiException, ProcessingException;

	/**
	 * Archive issue(s) by JQL
	 *
	 * Enables admins to archive up to 100,000 issues in a single request using JQL, returning the URL to check the status of the submitted request.  You can use the [get task](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-tasks/#api-rest-api-3-task-taskid-get) and [cancel task](https://developer.atlassian.com/cloud/jira/platform/rest/v3/api-group-tasks/#api-rest-api-3-task-taskid-cancel-post) APIs to manage the request.  **Note that:**   *  you can&#39;t archive subtasks directly, only through their parent issues  *  you can only archive issues from software, service management, and business projects  **[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)  **License required:** Premium or Enterprise  **Signed-in users only:** This API can&#39;t be accessed anonymously.  **Rate limiting:** Only a single request per jira instance can be active at any given time.
	 *
	 */
	@POST
	@Path("/issue/archive")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	String archiveIssuesAsync(ArchiveIssueAsyncRequest archiveIssueAsyncRequest) throws ApiException, ProcessingException;

	/**
	 * Assign issue
	 *
	 * Assigns an issue to a user. Use this operation when the calling user does not have the *Edit Issues* permission but has the *Assign issue* permission for the project that the issue is in.  If &#x60;name&#x60; or &#x60;accountId&#x60; is set to:   *  &#x60;\&quot;-1\&quot;&#x60;, the issue is assigned to the default assignee for the project.  *  &#x60;null&#x60;, the issue is set to unassigned.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse Projects* and *Assign Issues* [ project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@PUT
	@Path("/issue/{issueIdOrKey}/assignee")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object assignIssue(@PathParam("issueIdOrKey") String issueIdOrKey, User user) throws ApiException, ProcessingException;

	/**
	 * Create issue
	 *
	 * Creates an issue or, where the option to create subtasks is enabled in Jira, a subtask. A transition may be applied, to move the issue or subtask to a workflow step other than the default start step, and issue properties set.  The content of the issue or subtask is defined using &#x60;update&#x60; and &#x60;fields&#x60;. The fields that can be set in the issue or subtask are determined using the [ Get create issue metadata](#api-rest-api-3-issue-createmeta-get). These are the same fields that appear on the issue&#39;s create screen. Note that the &#x60;description&#x60;, &#x60;environment&#x60;, and any &#x60;textarea&#x60; type custom fields (multi-line text fields) take Atlassian Document Format content. Single line custom fields (&#x60;textfield&#x60;) accept a string and don&#39;t handle Atlassian Document Format content.  Creating a subtask differs from creating an issue as follows:   *  &#x60;issueType&#x60; must be set to a subtask issue type (use [ Get create issue metadata](#api-rest-api-3-issue-createmeta-get) to find subtask issue types).  *  &#x60;parent&#x60; must contain the ID or key of the parent issue.  In a next-gen project any issue may be made a child providing that the parent and child are members of the same project.  **[Permissions](#permissions) required:** *Browse projects* and *Create issues* [project permissions](https://confluence.atlassian.com/x/yodKLg) for the project in which the issue or subtask is created.
	 *
	 */
	@POST
	@Path("/issue")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	CreatedIssue createIssue(IssueUpdateDetails issueUpdateDetails, @QueryParam("updateHistory") @DefaultValue("false") Boolean updateHistory) throws ApiException, ProcessingException;

	/**
	 * Bulk create issue
	 *
	 * Creates upto **50** issues and, where the option to create subtasks is enabled in Jira, subtasks. Transitions may be applied, to move the issues or subtasks to a workflow step other than the default start step, and issue properties set.  The content of each issue or subtask is defined using &#x60;update&#x60; and &#x60;fields&#x60;. The fields that can be set in the issue or subtask are determined using the [ Get create issue metadata](#api-rest-api-3-issue-createmeta-get). These are the same fields that appear on the issues&#39; create screens. Note that the &#x60;description&#x60;, &#x60;environment&#x60;, and any &#x60;textarea&#x60; type custom fields (multi-line text fields) take Atlassian Document Format content. Single line custom fields (&#x60;textfield&#x60;) accept a string and don&#39;t handle Atlassian Document Format content.  Creating a subtask differs from creating an issue as follows:   *  &#x60;issueType&#x60; must be set to a subtask issue type (use [ Get create issue metadata](#api-rest-api-3-issue-createmeta-get) to find subtask issue types).  *  &#x60;parent&#x60; the must contain the ID or key of the parent issue.  **[Permissions](#permissions) required:** *Browse projects* and *Create issues* [project permissions](https://confluence.atlassian.com/x/yodKLg) for the project in which each issue or subtask is created.
	 *
	 */
	@POST
	@Path("/issue/bulk")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	CreatedIssues createIssues(IssuesUpdateBean issuesUpdateBean) throws ApiException, ProcessingException;

	/**
	 * Delete issue
	 *
	 * Deletes an issue.  An issue cannot be deleted if it has one or more subtasks. To delete an issue with subtasks, set &#x60;deleteSubtasks&#x60;. This causes the issue&#39;s subtasks to be deleted with the issue.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* and *Delete issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the issue.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@DELETE
	@Path("/issue/{issueIdOrKey}")
	void deleteIssue(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("deleteSubtasks") @DefaultValue("false") String deleteSubtasks) throws ApiException, ProcessingException;

	/**
	 * Transition issue
	 *
	 * Performs an issue transition and, if the transition has a screen, updates the fields from the transition screen.  sortByCategory To update the fields on the transition screen, specify the fields in the &#x60;fields&#x60; or &#x60;update&#x60; parameters in the request body. Get details about the fields using [ Get transitions](#api-rest-api-3-issue-issueIdOrKey-transitions-get) with the &#x60;transitions.fields&#x60; expand.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* and *Transition issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST
	@Path("/issue/{issueIdOrKey}/transitions")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object doTransition(@PathParam("issueIdOrKey") String issueIdOrKey, IssueUpdateDetails issueUpdateDetails) throws ApiException, ProcessingException;

	/**
	 * Edit issue
	 *
	 * Edits an issue. Issue properties may be updated as part of the edit. Please note that issue transition will be ignored as it is not supported yet.  The edits to the issue&#39;s fields are defined using &#x60;update&#x60; and &#x60;fields&#x60;. The fields that can be edited are determined using [ Get edit issue metadata](#api-rest-api-3-issue-issueIdOrKey-editmeta-get).  The parent field may be set by key or ID. For standard issue types, the parent may be removed by setting &#x60;update.parent.set.none&#x60; to *true*. Note that the &#x60;description&#x60;, &#x60;environment&#x60;, and any &#x60;textarea&#x60; type custom fields (multi-line text fields) take Atlassian Document Format content. Single line custom fields (&#x60;textfield&#x60;) accept a string and don&#39;t handle Atlassian Document Format content.  Connect apps having an app user with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), and Forge apps acting on behalf of users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), can override the screen security configuration using &#x60;overrideScreenSecurity&#x60; and &#x60;overrideEditableFlag&#x60;.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* and *Edit issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@PUT
	@Path("/issue/{issueIdOrKey}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object editIssue(@PathParam("issueIdOrKey") String issueIdOrKey, IssueUpdateDetails issueUpdateDetails, @QueryParam("notifyUsers") @DefaultValue("true") Boolean notifyUsers, @QueryParam("overrideScreenSecurity") @DefaultValue("false") Boolean overrideScreenSecurity, @QueryParam("overrideEditableFlag") @DefaultValue("false") Boolean overrideEditableFlag, @QueryParam("returnIssue") @DefaultValue("false") Boolean returnIssue, @QueryParam("expand") @DefaultValue("") String expand) throws ApiException, ProcessingException;

	/**
	 * Export archived issue(s)
	 *
	 * Enables admins to retrieve details of all archived issues. Upon a successful request, the admin who submitted it will receive an email with a link to download a CSV file with the issue details.  Note that this API only exports the values of system fields and archival-specific fields (&#x60;ArchivedBy&#x60; and &#x60;ArchivedDate&#x60;). Custom fields aren&#39;t supported.  **[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)  **License required:** Premium or Enterprise  **Signed-in users only:** This API can&#39;t be accessed anonymously.  **Rate limiting:** Only a single request can be active at any given time.
	 *
	 */
	@PUT
	@Path("/issues/archive/export")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	ExportArchivedIssuesTaskProgressResponse exportArchivedIssues(ArchivedIssuesFilterRequest archivedIssuesFilterRequest) throws ApiException, ProcessingException;

	/**
	 * Get changelogs
	 *
	 * Returns a [paginated](#pagination) list of all changelogs for an issue sorted by date, starting from the oldest.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@GET
	@Path("/issue/{issueIdOrKey}/changelog")
	@Produces({"application/json"})
	PageBeanChangelog getChangeLogs(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("startAt") @DefaultValue("0") Integer startAt, @QueryParam("maxResults") @DefaultValue("100") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Get changelogs by IDs
	 *
	 * Returns changelogs for an issue specified by a list of changelog IDs.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST
	@Path("/issue/{issueIdOrKey}/changelog/list")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	PageOfChangelogs getChangeLogsByIds(@PathParam("issueIdOrKey") String issueIdOrKey, IssueChangelogIds issueChangelogIds) throws ApiException, ProcessingException;

	/**
	 * Get create issue metadata
	 *
	 * Returns details of projects, issue types within projects, and, when requested, the create screen fields for each issue type for the user. Use the information to populate the requests in [ Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).  Deprecated, see [Create Issue Meta Endpoint Deprecation Notice](https://developer.atlassian.com/cloud/jira/platform/changelog/#CHANGE-1304).  The request can be restricted to specific projects or issue types using the query parameters. The response will contain information for the valid projects, issue types, or project and issue type combinations requested. Note that invalid project, issue type, or project and issue type combinations do not generate errors.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) in the requested projects.
	 *
	 * @deprecated
	 */
	@Deprecated
	@GET
	@Path("/issue/createmeta")
	@Produces({"application/json"})
	IssueCreateMetadata getCreateIssueMeta(@QueryParam("projectIds") List<String> projectIds, @QueryParam("projectKeys") List<String> projectKeys, @QueryParam("issuetypeIds") List<String> issuetypeIds, @QueryParam("issuetypeNames") List<String> issuetypeNames, @QueryParam("expand") String expand) throws ApiException, ProcessingException;

	/**
	 * Get create field metadata for a project and issue type id
	 *
	 * Returns a page of field metadata for a specified project and issuetype id. Use the information to populate the requests in [ Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) in the requested projects.
	 *
	 */
	@GET
	@Path("/issue/createmeta/{projectIdOrKey}/issuetypes/{issueTypeId}")
	@Produces({"application/json"})
	PageOfCreateMetaIssueTypeWithField getCreateIssueMetaIssueTypeId(@PathParam("projectIdOrKey") String projectIdOrKey, @PathParam("issueTypeId") String issueTypeId, @QueryParam("startAt") @DefaultValue("0") Integer startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Get create metadata issue types for a project
	 *
	 * Returns a page of issue type metadata for a specified project. Use the information to populate the requests in [ Create issue](#api-rest-api-3-issue-post) and [Create issues](#api-rest-api-3-issue-bulk-post).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Create issues* [project permission](https://confluence.atlassian.com/x/yodKLg) in the requested projects.
	 *
	 */
	@GET
	@Path("/issue/createmeta/{projectIdOrKey}/issuetypes")
	@Produces({"application/json"})
	PageOfCreateMetaIssueTypes getCreateIssueMetaIssueTypes(@PathParam("projectIdOrKey") String projectIdOrKey, @QueryParam("startAt") @DefaultValue("0") Integer startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Get edit issue metadata
	 *
	 * Returns the edit screen fields for an issue that are visible to and editable by the user. Use the information to populate the requests in [Edit issue](#api-rest-api-3-issue-issueIdOrKey-put).  This endpoint will check for these conditions:  1.  Field is available on a field screen - through screen, screen scheme, issue type screen scheme, and issue type scheme configuration. &#x60;overrideScreenSecurity&#x3D;true&#x60; skips this condition. 2.  Field is visible in the [field configuration](https://support.atlassian.com/jira-cloud-administration/docs/change-a-field-configuration/). &#x60;overrideScreenSecurity&#x3D;true&#x60; skips this condition. 3.  Field is shown on the issue: each field has different conditions here. For example: Attachment field only shows if attachments are enabled. Assignee only shows if user has permissions to assign the issue. 4.  If a field is custom then it must have valid custom field context, applicable for its project and issue type. All system fields are assumed to have context in all projects and all issue types. 5.  Issue has a project, issue type, and status defined. 6.  Issue is assigned to a valid workflow, and the current status has assigned a workflow step. &#x60;overrideEditableFlag&#x3D;true&#x60; skips this condition. 7.  The current workflow step is editable. This is true by default, but [can be disabled by setting](https://support.atlassian.com/jira-cloud-administration/docs/use-workflow-properties/) the &#x60;jira.issue.editable&#x60; property to &#x60;false&#x60;. &#x60;overrideEditableFlag&#x3D;true&#x60; skips this condition. 8.  User has [Edit issues permission](https://support.atlassian.com/jira-cloud-administration/docs/permissions-for-company-managed-projects/). 9.  Workflow permissions allow editing a field. This is true by default but [can be modified](https://support.atlassian.com/jira-cloud-administration/docs/use-workflow-properties/) using &#x60;jira.permission.*&#x60; workflow properties.  Fields hidden using [Issue layout settings page](https://support.atlassian.com/jira-software-cloud/docs/configure-field-layout-in-the-issue-view/) remain editable.  Connect apps having an app user with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), and Forge apps acting on behalf of users with *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), can return additional details using:   *  &#x60;overrideScreenSecurity&#x60; When this flag is &#x60;true&#x60;, then this endpoint skips checking if fields are available through screens, and field configuration (conditions 1. and 2. from the list above).  *  &#x60;overrideEditableFlag&#x60; When this flag is &#x60;true&#x60;, then this endpoint skips checking if workflow is present and if the current step is editable (conditions 6. and 7. from the list above).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.  Note: For any fields to be editable the user must have the *Edit issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the issue.
	 *
	 */
	@GET
	@Path("/issue/{issueIdOrKey}/editmeta")
	@Produces({"application/json"})
	IssueUpdateMetadata getEditIssueMeta(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("overrideScreenSecurity") @DefaultValue("false") Boolean overrideScreenSecurity, @QueryParam("overrideEditableFlag") @DefaultValue("false") Boolean overrideEditableFlag) throws ApiException, ProcessingException;

	/**
	 * Get events
	 *
	 * Returns all issue events.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/events")
	@Produces({"application/json"})
	List<IssueEvent> getEvents() throws ApiException, ProcessingException;

	/**
	 * Get issue
	 *
	 * Returns the details for an issue.  The issue is identified by its ID or key, however, if the identifier doesn&#39;t match an issue, a case-insensitive search and check for moved issues is performed. If a matching issue is found its details are returned, a 302 or other redirect is **not** returned. The issue key returned in the response is the key of the issue found.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@GET
	@Path("/issue/{issueIdOrKey}")
	@Produces({"application/json"})
	IssueBean getIssue(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("fields") List<String> fields, @QueryParam("fieldsByKeys") @DefaultValue("false") Boolean fieldsByKeys, @QueryParam("expand") String expand, @QueryParam("properties") List<String> properties, @QueryParam("updateHistory") @DefaultValue("false") Boolean updateHistory) throws ApiException, ProcessingException;

	/**
	 * Get issue limit report
	 *
	 * Returns all issues breaching and approaching per-issue limits.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) is required for the project the issues are in. Results may be incomplete otherwise  *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/issue/limit/report")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	IssueLimitReportResponseBean getIssueLimitReport(IssueLimitReportRequest issueLimitReportRequest) throws ApiException, ProcessingException;

	/**
	 * Get transitions
	 *
	 * Returns either all transitions or a transition that can be performed by the user on an issue, based on the issue&#39;s status.  Note, if a request is made for a transition that does not exist or cannot be performed on the issue, given its status, the response will return any empty transitions list.  This operation can be accessed anonymously.  **[Permissions](#permissions) required: A list or transition is returned only when the user has:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.  However, if the user does not have the *Transition issues* [ project permission](https://confluence.atlassian.com/x/yodKLg) the response will not list any transitions.
	 *
	 */
	@GET
	@Path("/issue/{issueIdOrKey}/transitions")
	@Produces({"application/json"})
	Transitions getTransitions(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("expand") String expand, @QueryParam("transitionId") String transitionId, @QueryParam("skipRemoteOnlyCondition") @DefaultValue("false") Boolean skipRemoteOnlyCondition, @QueryParam("includeUnavailableTransitions") @DefaultValue("false") Boolean includeUnavailableTransitions, @QueryParam("sortByOpsBarAndStatus") @DefaultValue("false") Boolean sortByOpsBarAndStatus) throws ApiException, ProcessingException;

	/**
	 * Send notification for issue
	 *
	 * Creates an email notification for an issue and adds it to the mail queue.  **[Permissions](#permissions) required:**   *  *Browse Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST
	@Path("/issue/{issueIdOrKey}/notify")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object notify(@PathParam("issueIdOrKey") String issueIdOrKey, Notification notification) throws ApiException, ProcessingException;

	/**
	 * Unarchive issue(s) by issue keys/ID
	 *
	 * Enables admins to unarchive up to 1000 issues in a single request using issue ID/key, returning details of the issue(s) unarchived in the process and the errors encountered, if any.  **Note that:**   *  you can&#39;t unarchive subtasks directly, only through their parent issues  *  you can only unarchive issues from software, service management, and business projects  **[Permissions](#permissions) required:** Jira admin or site admin: [global permission](https://confluence.atlassian.com/x/x4dKLg)  **License required:** Premium or Enterprise  **Signed-in users only:** This API can&#39;t be accessed anonymously.
	 *
	 */
	@PUT
	@Path("/issue/unarchive")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	IssueArchivalSyncResponse unarchiveIssues(IssueArchivalSyncRequest issueArchivalSyncRequest) throws ApiException, ProcessingException;
}
