/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.EntityProperty;
import com.atlassian.jira.v3.model.PropertyKeys;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/issue/{issueIdOrKey}/worklog/{worklogId}/properties")
public interface IssueWorklogPropertiesApi {

	/**
	 * Delete worklog property
	 *
	 * Deletes a worklog property.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.  *  If the worklog has visibility restrictions, belongs to the group or has the role visibility is restricted to.
	 *
	 */
	@DELETE
	@Path("/{propertyKey}")
	void deleteWorklogProperty(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("worklogId") String worklogId, @PathParam("propertyKey") String propertyKey) throws ApiException, ProcessingException;

	/**
	 * Get worklog property
	 *
	 * Returns the value of a worklog property.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.  *  If the worklog has visibility restrictions, belongs to the group or has the role visibility is restricted to.
	 *
	 */
	@GET
	@Path("/{propertyKey}")
	@Produces({"application/json"})
	EntityProperty getWorklogProperty(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("worklogId") String worklogId, @PathParam("propertyKey") String propertyKey) throws ApiException, ProcessingException;

	/**
	 * Get worklog property keys
	 *
	 * Returns the keys of all properties for a worklog.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.  *  If the worklog has visibility restrictions, belongs to the group or has the role visibility is restricted to.
	 *
	 */
	@GET

	@Produces({"application/json"})
	PropertyKeys getWorklogPropertyKeys(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("worklogId") String worklogId) throws ApiException, ProcessingException;

	/**
	 * Set worklog property
	 *
	 * Sets the value of a worklog property. Use this operation to store custom data against the worklog.  The value of the request body must be a [valid](http://tools.ietf.org/html/rfc4627), non-empty JSON blob. The maximum length is 32768 characters.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.  *  *Edit all worklogs*[ project permission](https://confluence.atlassian.com/x/yodKLg) to update any worklog or *Edit own worklogs* to update worklogs created by the user.  *  If the worklog has visibility restrictions, belongs to the group or has the role visibility is restricted to.
	 *
	 */
	@PUT
	@Path("/{propertyKey}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object setWorklogProperty(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("worklogId") String worklogId, @PathParam("propertyKey") String propertyKey, Object body) throws ApiException, ProcessingException;
}
