/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.*;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface IssueSearchApi {

	/**
	 * Get issue picker suggestions
	 *
	 * Returns lists of issues matching a query string. Use this resource to provide auto-completion suggestions when the user is looking for an issue using a word or string.  This operation returns two lists:   *  &#x60;History Search&#x60; which includes issues from the user&#39;s history of created, edited, or viewed issues that contain the string in the &#x60;query&#x60; parameter.  *  &#x60;Current Search&#x60; which includes issues that match the JQL expression in &#x60;currentJQL&#x60; and contain the string in the &#x60;query&#x60; parameter.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** None.
	 *
	 */
	@GET
	@Path("/issue/picker")
	@Produces({"application/json"})
	IssuePickerSuggestions getIssuePickerResource(@QueryParam("query") String query, @QueryParam("currentJQL") String currentJQL, @QueryParam("currentIssueKey") String currentIssueKey, @QueryParam("currentProjectId") String currentProjectId, @QueryParam("showSubTasks") Boolean showSubTasks, @QueryParam("showSubTaskParent") Boolean showSubTaskParent) throws ApiException, ProcessingException;

	/**
	 * Check issues against JQL
	 *
	 * Checks whether one or more issues would be returned by one or more JQL queries.  **[Permissions](#permissions) required:** None, however, issues are only matched against JQL queries where the user has:   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST
	@Path("/jql/match")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	IssueMatches matchIssues(IssuesAndJQLQueries issuesAndJQLQueries) throws ApiException, ProcessingException;

	/**
	 * Search issue IDs using JQL
	 *
	 * Searches for IDs of issues using [JQL](https://confluence.atlassian.com/x/egORLQ).  Use the [Search](#api-rest-api-3-search-post) endpoint if you need to fetch more than just issue IDs. The Search endpoint returns more information, but may take much longer to respond to requests. This is because it uses a different mechanism for ordering results than this endpoint and doesn&#39;t provide the total number of results for your query.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** Issues are included in the response where the user has:   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the issue.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST
	@Path("/search/id")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	IdSearchResults searchForIssuesIds(IdSearchRequestBean idSearchRequestBean) throws ApiException, ProcessingException;

	/**
	 * Search for issues using JQL (GET)
	 *
	 * Searches for issues using [JQL](https://confluence.atlassian.com/x/egORLQ).  If the JQL query expression is too large to be encoded as a query parameter, use the [POST](#api-rest-api-3-search-post) version of this resource.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** Issues are included in the response where the user has:   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the issue.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@GET
	@Path("/search")
	@Produces({"application/json"})
	SearchResults searchForIssuesUsingJql(@QueryParam("jql") String jql, @QueryParam("startAt") @DefaultValue("0") Integer startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults, @QueryParam("validateQuery") @DefaultValue("strict") String validateQuery, @QueryParam("fields") List<String> fields, @QueryParam("expand") String expand, @QueryParam("properties") List<String> properties, @QueryParam("fieldsByKeys") @DefaultValue("false") Boolean fieldsByKeys) throws ApiException, ProcessingException;

	/**
	 * Search for issues using JQL (POST)
	 *
	 * Searches for issues using [JQL](https://confluence.atlassian.com/x/egORLQ).  There is a [GET](#api-rest-api-3-search-get) version of this resource that can be used for smaller JQL query expressions.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** Issues are included in the response where the user has:   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project containing the issue.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST
	@Path("/search")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	SearchResults searchForIssuesUsingJqlPost(SearchRequestBean searchRequestBean) throws ApiException, ProcessingException;
}
