/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.CustomFieldValueUpdateDetails;
import com.atlassian.jira.v3.model.MultipleCustomFieldValuesUpdateDetails;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/app/field")
public interface IssueCustomFieldValuesAppsApi {

	/**
	 * Update custom field value
	 *
	 * Updates the value of a custom field on one or more issues.  Apps can only perform this operation on [custom fields](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field/) and [custom field types](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) declared in their own manifests.  **[Permissions](#permissions) required:** Only the app that owns the custom field or custom field type can update its values with this operation.
	 *
	 */
	@PUT
	@Path("/{fieldIdOrKey}/value")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateCustomFieldValue(@PathParam("fieldIdOrKey") String fieldIdOrKey, CustomFieldValueUpdateDetails customFieldValueUpdateDetails, @QueryParam("generateChangelog") @DefaultValue("true") Boolean generateChangelog) throws ApiException, ProcessingException;

	/**
	 * Update custom fields
	 *
	 * Updates the value of one or more custom fields on one or more issues. Combinations of custom field and issue should be unique within the request.  Apps can only perform this operation on [custom fields](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field/) and [custom field types](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) declared in their own manifests.  **[Permissions](#permissions) required:** Only the app that owns the custom field or custom field type can update its values with this operation.
	 *
	 */
	@POST
	@Path("/value")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateMultipleCustomFieldValues(MultipleCustomFieldValuesUpdateDetails multipleCustomFieldValuesUpdateDetails, @QueryParam("generateChangelog") @DefaultValue("true") Boolean generateChangelog) throws ApiException, ProcessingException;
}
