/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.*;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface IssueCustomFieldOptionsApi {

	/**
	 * Create custom field options (context)
	 *
	 * Creates options and, where the custom select field is of the type Select List (cascading), cascading options for a custom select field. The options are added to a context of the field.  The maximum number of options that can be created per request is 1000 and each field can have a maximum of 10000 options.  This operation works for custom field options created in Jira or the operations from this resource. **To work with issue field select list options created for Connect apps use the [Issue custom field options (apps)](#api-group-issue-custom-field-options--apps-) operations.**  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/field/{fieldId}/context/{contextId}/option")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	CustomFieldCreatedContextOptionsList createCustomFieldOption(@PathParam("fieldId") String fieldId, @PathParam("contextId") Long contextId, BulkCustomFieldOptionCreateRequest bulkCustomFieldOptionCreateRequest) throws ApiException, ProcessingException;

	/**
	 * Delete custom field options (context)
	 *
	 * Deletes a custom field option.  Options with cascading options cannot be deleted without deleting the cascading options first.  This operation works for custom field options created in Jira or the operations from this resource. **To work with issue field select list options created for Connect apps use the [Issue custom field options (apps)](#api-group-issue-custom-field-options--apps-) operations.**  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/field/{fieldId}/context/{contextId}/option/{optionId}")
	@Produces({"application/json"})
	void deleteCustomFieldOption(@PathParam("fieldId") String fieldId, @PathParam("contextId") Long contextId, @PathParam("optionId") Long optionId) throws ApiException, ProcessingException;

	/**
	 * Get custom field option
	 *
	 * Returns a custom field option. For example, an option in a select list.  Note that this operation **only works for issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource**, it cannot be used with issue field select list options created by Connect apps.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** The custom field option is returned as follows:   *  if the user has the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  *  if the user has the *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for at least one project the custom field is used in, and the field is visible in at least one layout the user has permission to view.
	 *
	 */
	@GET
	@Path("/customFieldOption/{id}")
	@Produces({"application/json"})
	CustomFieldOption getCustomFieldOption(@PathParam("id") String id) throws ApiException, ProcessingException;

	/**
	 * Get custom field options (context)
	 *
	 * Returns a [paginated](#pagination) list of all custom field option for a context. Options are returned first then cascading options, in the order they display in Jira.  This operation works for custom field options created in Jira or the operations from this resource. **To work with issue field select list options created for Connect apps use the [Issue custom field options (apps)](#api-group-issue-custom-field-options--apps-) operations.**  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/field/{fieldId}/context/{contextId}/option")
	@Produces({"application/json"})
	PageBeanCustomFieldContextOption getOptionsForContext(@PathParam("fieldId") String fieldId, @PathParam("contextId") Long contextId, @QueryParam("optionId") Long optionId, @QueryParam("onlyOptions") @DefaultValue("false") Boolean onlyOptions, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("100") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Reorder custom field options (context)
	 *
	 * Changes the order of custom field options or cascading options in a context.  This operation works for custom field options created in Jira or the operations from this resource. **To work with issue field select list options created for Connect apps use the [Issue custom field options (apps)](#api-group-issue-custom-field-options--apps-) operations.**  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/field/{fieldId}/context/{contextId}/option/move")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object reorderCustomFieldOptions(@PathParam("fieldId") String fieldId, @PathParam("contextId") Long contextId, OrderOfCustomFieldOptions orderOfCustomFieldOptions) throws ApiException, ProcessingException;

	/**
	 * Replace custom field options
	 *
	 * Replaces the options of a custom field.  Note that this operation **only works for issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource**, it cannot be used with issue field select list options created by Connect or Forge apps.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/field/{fieldId}/context/{contextId}/option/{optionId}/issue")
	@Produces({"application/json"})
	void replaceCustomFieldOption(@PathParam("fieldId") String fieldId, @PathParam("optionId") Long optionId, @PathParam("contextId") Long contextId, @QueryParam("replaceWith") Long replaceWith, @QueryParam("jql") String jql) throws ApiException, ProcessingException;

	/**
	 * Update custom field options (context)
	 *
	 * Updates the options of a custom field.  If any of the options are not found, no options are updated. Options where the values in the request match the current values aren&#39;t updated and aren&#39;t reported in the response.  Note that this operation **only works for issue field select list options created in Jira or using operations from the [Issue custom field options](#api-group-Issue-custom-field-options) resource**, it cannot be used with issue field select list options created by Connect apps.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/field/{fieldId}/context/{contextId}/option")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	CustomFieldUpdatedContextOptionsList updateCustomFieldOption(@PathParam("fieldId") String fieldId, @PathParam("contextId") Long contextId, BulkCustomFieldOptionUpdateRequest bulkCustomFieldOptionUpdateRequest) throws ApiException, ProcessingException;
}
