/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.*;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.Set;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface IssueFieldConfigurationsApi {

	/**
	 * Assign field configuration scheme to project
	 *
	 * Assigns a field configuration scheme to a project. If the field configuration scheme ID is &#x60;null&#x60;, the operation assigns the default field configuration scheme.  Field configuration schemes can only be assigned to classic projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/fieldconfigurationscheme/project")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object assignFieldConfigurationSchemeToProject(FieldConfigurationSchemeProjectAssociation fieldConfigurationSchemeProjectAssociation) throws ApiException, ProcessingException;

	/**
	 * Create field configuration
	 *
	 * Creates a field configuration. The field configuration is created with the same field properties as the default configuration, with all the fields being optional.  This operation can only create configurations for use in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/fieldconfiguration")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	FieldConfiguration createFieldConfiguration(FieldConfigurationDetails fieldConfigurationDetails) throws ApiException, ProcessingException;

	/**
	 * Create field configuration scheme
	 *
	 * Creates a field configuration scheme.  This operation can only create field configuration schemes used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/fieldconfigurationscheme")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	FieldConfigurationScheme createFieldConfigurationScheme(UpdateFieldConfigurationSchemeDetails updateFieldConfigurationSchemeDetails) throws ApiException, ProcessingException;

	/**
	 * Delete field configuration
	 *
	 * Deletes a field configuration.  This operation can only delete configurations used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/fieldconfiguration/{id}")
	@Produces({"application/json"})
	Object deleteFieldConfiguration(@PathParam("id") Long id) throws ApiException, ProcessingException;

	/**
	 * Delete field configuration scheme
	 *
	 * Deletes a field configuration scheme.  This operation can only delete field configuration schemes used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/fieldconfigurationscheme/{id}")
	@Produces({"application/json"})
	Object deleteFieldConfigurationScheme(@PathParam("id") Long id) throws ApiException, ProcessingException;

	/**
	 * Get all field configuration schemes
	 *
	 * Returns a [paginated](#pagination) list of field configuration schemes.  Only field configuration schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/fieldconfigurationscheme")
	@Produces({"application/json"})
	PageBeanFieldConfigurationScheme getAllFieldConfigurationSchemes(@QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults, @QueryParam("id") Set<Long> id) throws ApiException, ProcessingException;

	/**
	 * Get all field configurations
	 *
	 * Returns a [paginated](#pagination) list of field configurations. The list can be for all field configurations or a subset determined by any combination of these criteria:   *  a list of field configuration item IDs.  *  whether the field configuration is a default.  *  whether the field configuration name or description contains a query string.  Only field configurations used in company-managed (classic) projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/fieldconfiguration")
	@Produces({"application/json"})
	PageBeanFieldConfigurationDetails getAllFieldConfigurations(@QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults, @QueryParam("id") Set<Long> id, @QueryParam("isDefault") @DefaultValue("false") Boolean isDefault, @QueryParam("query") @DefaultValue("") String query) throws ApiException, ProcessingException;

	/**
	 * Get field configuration items
	 *
	 * Returns a [paginated](#pagination) list of all fields for a configuration.  Only the fields from configurations used in company-managed (classic) projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/fieldconfiguration/{id}/fields")
	@Produces({"application/json"})
	PageBeanFieldConfigurationItem getFieldConfigurationItems(@PathParam("id") Long id, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Get field configuration issue type items
	 *
	 * Returns a [paginated](#pagination) list of field configuration issue type items.  Only items used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/fieldconfigurationscheme/mapping")
	@Produces({"application/json"})
	PageBeanFieldConfigurationIssueTypeItem getFieldConfigurationSchemeMappings(@QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults, @QueryParam("fieldConfigurationSchemeId") Set<Long> fieldConfigurationSchemeId) throws ApiException, ProcessingException;

	/**
	 * Get field configuration schemes for projects
	 *
	 * Returns a [paginated](#pagination) list of field configuration schemes and, for each scheme, a list of the projects that use it.  The list is sorted by field configuration scheme ID. The first item contains the list of project IDs assigned to the default field configuration scheme.  Only field configuration schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/fieldconfigurationscheme/project")
	@Produces({"application/json"})
	PageBeanFieldConfigurationSchemeProjects getFieldConfigurationSchemeProjectMapping(@QueryParam("projectId") Set<Long> projectId, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Remove issue types from field configuration scheme
	 *
	 * Removes issue types from the field configuration scheme.  This operation can only modify field configuration schemes used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/fieldconfigurationscheme/{id}/mapping/delete")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object removeIssueTypesFromGlobalFieldConfigurationScheme(@PathParam("id") Long id, IssueTypeIdsToRemove issueTypeIdsToRemove) throws ApiException, ProcessingException;

	/**
	 * Assign issue types to field configurations
	 *
	 * Assigns issue types to field configurations on field configuration scheme.  This operation can only modify field configuration schemes used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/fieldconfigurationscheme/{id}/mapping")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object setFieldConfigurationSchemeMapping(@PathParam("id") Long id, AssociateFieldConfigurationsWithIssueTypesRequest associateFieldConfigurationsWithIssueTypesRequest) throws ApiException, ProcessingException;

	/**
	 * Update field configuration
	 *
	 * Updates a field configuration. The name and the description provided in the request override the existing values.  This operation can only update configurations used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/fieldconfiguration/{id}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateFieldConfiguration(@PathParam("id") Long id, FieldConfigurationDetails fieldConfigurationDetails) throws ApiException, ProcessingException;

	/**
	 * Update field configuration items
	 *
	 * Updates fields in a field configuration. The properties of the field configuration fields provided override the existing values.  This operation can only update field configurations used in company-managed (classic) projects.  The operation can set the renderer for text fields to the default text renderer (&#x60;text-renderer&#x60;) or wiki style renderer (&#x60;wiki-renderer&#x60;). However, the renderer cannot be updated for fields using the autocomplete renderer (&#x60;autocomplete-renderer&#x60;).  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/fieldconfiguration/{id}/fields")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateFieldConfigurationItems(@PathParam("id") Long id, FieldConfigurationItemsDetails fieldConfigurationItemsDetails) throws ApiException, ProcessingException;

	/**
	 * Update field configuration scheme
	 *
	 * Updates a field configuration scheme.  This operation can only update field configuration schemes used in company-managed (classic) projects.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/fieldconfigurationscheme/{id}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateFieldConfigurationScheme(@PathParam("id") Long id, UpdateFieldConfigurationSchemeDetails updateFieldConfigurationSchemeDetails) throws ApiException, ProcessingException;
}
