/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.Avatar;
import com.atlassian.jira.v3.model.IssueTypeCreateBean;
import com.atlassian.jira.v3.model.IssueTypeDetails;
import com.atlassian.jira.v3.model.IssueTypeUpdateBean;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/issuetype")
public interface IssueTypesApi {

	/**
	 * Create issue type
	 *
	 * Creates an issue type and adds it to the default issue type scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	IssueTypeDetails createIssueType(IssueTypeCreateBean issueTypeCreateBean) throws ApiException, ProcessingException;

	/**
	 * Load issue type avatar
	 *
	 * Loads an avatar for the issue type.  Specify the avatar&#39;s local file location in the body of the request. Also, include the following headers:   *  &#x60;X-Atlassian-Token: no-check&#x60; To prevent XSRF protection blocking the request, for more information see [Special Headers](#special-request-headers).  *  &#x60;Content-Type: image/image type&#x60; Valid image types are JPEG, GIF, or PNG.  For example:   &#x60;curl --request POST \\ --user email@example.com:&lt;api_token&gt; \\ --header &#39;X-Atlassian-Token: no-check&#39; \\ --header &#39;Content-Type: image/&lt; image_type&gt;&#39; \\ --data-binary \&quot;&lt;@/path/to/file/with/your/avatar&gt;\&quot; \\ --url &#39;https://your-domain.atlassian.net/rest/api/3/issuetype/{issueTypeId}&#39;This&#x60;  The avatar is cropped to a square. If no crop parameters are specified, the square originates at the top left of the image. The length of the square&#39;s sides is set to the smaller of the height or width of the image.  The cropped image is then used to create avatars of 16x16, 24x24, 32x32, and 48x48 in size.  After creating the avatar, use [ Update issue type](#api-rest-api-3-issuetype-id-put) to set it as the issue type&#39;s displayed avatar.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/{id}/avatar2")
	@Produces({"application/json"})
	Avatar createIssueTypeAvatar(@PathParam("id") String id, @QueryParam("size") Integer size, Object body, @QueryParam("x") @DefaultValue("0") Integer x, @QueryParam("y") @DefaultValue("0") Integer y) throws ApiException, ProcessingException;

	/**
	 * Delete issue type
	 *
	 * Deletes the issue type. If the issue type is in use, all uses are updated with the alternative issue type (&#x60;alternativeIssueTypeId&#x60;). A list of alternative issue types are obtained from the [Get alternative issue types](#api-rest-api-3-issuetype-id-alternatives-get) resource.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/{id}")
	void deleteIssueType(@PathParam("id") String id, @QueryParam("alternativeIssueTypeId") String alternativeIssueTypeId) throws ApiException, ProcessingException;

	/**
	 * Get alternative issue types
	 *
	 * Returns a list of issue types that can be used to replace the issue type. The alternative issue types are those assigned to the same workflow scheme, field configuration scheme, and screen scheme.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** None.
	 *
	 */
	@GET
	@Path("/{id}/alternatives")
	@Produces({"application/json"})
	List<IssueTypeDetails> getAlternativeIssueTypes(@PathParam("id") String id) throws ApiException, ProcessingException;

	/**
	 * Get all issue types for user
	 *
	 * Returns all issue types.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** Issue types are only returned as follows:   *  if the user has the *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), all issue types are returned.  *  if the user has the *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for one or more projects, the issue types associated with the projects the user has permission to browse are returned.
	 *
	 */
	@GET

	@Produces({"application/json"})
	List<IssueTypeDetails> getIssueAllTypes() throws ApiException, ProcessingException;

	/**
	 * Get issue type
	 *
	 * Returns an issue type.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) in a project the issue type is associated with or *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/{id}")
	@Produces({"application/json"})
	IssueTypeDetails getIssueType(@PathParam("id") String id) throws ApiException, ProcessingException;

	/**
	 * Get issue types for project
	 *
	 * Returns issue types for a project.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) in the relevant project or *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/project")
	@Produces({"application/json"})
	List<IssueTypeDetails> getIssueTypesForProject(@QueryParam("projectId") Long projectId, @QueryParam("level") Integer level) throws ApiException, ProcessingException;

	/**
	 * Update issue type
	 *
	 * Updates the issue type.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/{id}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	IssueTypeDetails updateIssueType(@PathParam("id") String id, IssueTypeUpdateBean issueTypeUpdateBean) throws ApiException, ProcessingException;
}
