/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.CustomFieldConfigurations;
import com.atlassian.jira.v3.model.PageBeanContextualConfiguration;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.Set;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/app/field/{fieldIdOrKey}/context/configuration")
public interface IssueCustomFieldConfigurationAppsApi {

	/**
	 * Get custom field configurations
	 *
	 * Returns a [paginated](#pagination) list of configurations for a custom field of a [type](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) created by a [Forge app](https://developer.atlassian.com/platform/forge/).  The result can be filtered by one of these criteria:   *  &#x60;id&#x60;.  *  &#x60;fieldContextId&#x60;.  *  &#x60;issueId&#x60;.  *  &#x60;projectKeyOrId&#x60; and &#x60;issueTypeId&#x60;.  Otherwise, all configurations are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the Forge app that provided the custom field type.
	 *
	 */
	@GET

	@Produces({"application/json"})
	PageBeanContextualConfiguration getCustomFieldConfiguration(@PathParam("fieldIdOrKey") String fieldIdOrKey, @QueryParam("id") Set<Long> id, @QueryParam("fieldContextId") Set<Long> fieldContextId, @QueryParam("issueId") Long issueId, @QueryParam("projectKeyOrId") String projectKeyOrId, @QueryParam("issueTypeId") String issueTypeId, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("100") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Update custom field configurations
	 *
	 * Update the configuration for contexts of a custom field of a [type](https://developer.atlassian.com/platform/forge/manifest-reference/modules/jira-custom-field-type/) created by a [Forge app](https://developer.atlassian.com/platform/forge/).  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg). Jira permissions are not required for the Forge app that created the custom field type.
	 *
	 */
	@PUT

	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateCustomFieldConfiguration(@PathParam("fieldIdOrKey") String fieldIdOrKey, CustomFieldConfigurations customFieldConfigurations) throws ApiException, ProcessingException;
}
