/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.RemoteIssueLink;
import com.atlassian.jira.v3.model.RemoteIssueLinkIdentifies;
import com.atlassian.jira.v3.model.RemoteIssueLinkRequest;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/issue/{issueIdOrKey}/remotelink")
public interface IssueRemoteLinksApi {

	/**
	 * Create or update remote issue link
	 *
	 * Creates or updates a remote issue link for an issue.  If a &#x60;globalId&#x60; is provided and a remote issue link with that global ID is found it is updated. Any fields without values in the request are set to null. Otherwise, the remote issue link is created.  This operation requires [issue linking to be active](https://confluence.atlassian.com/x/yoXKM).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* and *Link issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	RemoteIssueLinkIdentifies createOrUpdateRemoteIssueLink(@PathParam("issueIdOrKey") String issueIdOrKey, RemoteIssueLinkRequest remoteIssueLinkRequest) throws ApiException, ProcessingException;

	/**
	 * Delete remote issue link by global ID
	 *
	 * Deletes the remote issue link from the issue using the link&#39;s global ID. Where the global ID includes reserved URL characters these must be escaped in the request. For example, pass &#x60;system&#x3D;http://www.mycompany.com/support&amp;id&#x3D;1&#x60; as &#x60;system%3Dhttp%3A%2F%2Fwww.mycompany.com%2Fsupport%26id%3D1&#x60;.  This operation requires [issue linking to be active](https://confluence.atlassian.com/x/yoXKM).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* and *Link issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is implemented, issue-level security permission to view the issue.
	 *
	 */
	@DELETE
	void deleteRemoteIssueLinkByGlobalId(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("globalId") String globalId) throws ApiException, ProcessingException;

	/**
	 * Delete remote issue link by ID
	 *
	 * Deletes a remote issue link from an issue.  This operation requires [issue linking to be active](https://confluence.atlassian.com/x/yoXKM).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects*, *Edit issues*, and *Link issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@DELETE
	@Path("/{linkId}")
	void deleteRemoteIssueLinkById(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("linkId") String linkId) throws ApiException, ProcessingException;

	/**
	 * Get remote issue link by ID
	 *
	 * Returns a remote issue link for an issue.  This operation requires [issue linking to be active](https://confluence.atlassian.com/x/yoXKM).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@GET
	@Path("/{linkId}")
	@Produces({"application/json"})
	RemoteIssueLink getRemoteIssueLinkById(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("linkId") String linkId) throws ApiException, ProcessingException;

	/**
	 * Get remote issue links
	 *
	 * Returns the remote issue links for an issue. When a remote issue link global ID is provided the record with that global ID is returned, otherwise all remote issue links are returned. Where a global ID includes reserved URL characters these must be escaped in the request. For example, pass &#x60;system&#x3D;http://www.mycompany.com/support&amp;id&#x3D;1&#x60; as &#x60;system%3Dhttp%3A%2F%2Fwww.mycompany.com%2Fsupport%26id%3D1&#x60;.  This operation requires [issue linking to be active](https://confluence.atlassian.com/x/yoXKM).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@GET

	@Produces({"application/json"})
	RemoteIssueLink getRemoteIssueLinks(@PathParam("issueIdOrKey") String issueIdOrKey, @QueryParam("globalId") String globalId) throws ApiException, ProcessingException;

	/**
	 * Update remote issue link by ID
	 *
	 * Updates a remote issue link for an issue.  Note: Fields without values in the request are set to null.  This operation requires [issue linking to be active](https://confluence.atlassian.com/x/yoXKM).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:**   *  *Browse projects* and *Link issues* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project that the issue is in.  *  If [issue-level security](https://confluence.atlassian.com/x/J4lKLg) is configured, issue-level security permission to view the issue.
	 *
	 */
	@PUT
	@Path("/{linkId}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateRemoteIssueLink(@PathParam("issueIdOrKey") String issueIdOrKey, @PathParam("linkId") String linkId, RemoteIssueLinkRequest remoteIssueLinkRequest) throws ApiException, ProcessingException;
}
