/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.PageBeanIssueSecurityLevelMember;
import com.atlassian.jira.v3.model.SecurityLevel;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.Set;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface IssueSecurityLevelApi {

	/**
	 * Get issue security level
	 *
	 * Returns details of an issue security level.  Use [Get issue security scheme](#api-rest-api-3-issuesecurityschemes-id-get) to obtain the IDs of issue security levels associated with the issue security scheme.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** None.
	 *
	 */
	@GET
	@Path("/securitylevel/{id}")
	@Produces({"application/json"})
	SecurityLevel getIssueSecurityLevel(@PathParam("id") String id) throws ApiException, ProcessingException;

	/**
	 * Get issue security level members by issue security scheme
	 *
	 * Returns issue security level members.  Only issue security level members in context of classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/issuesecurityschemes/{issueSecuritySchemeId}/members")
	@Produces({"application/json"})
	PageBeanIssueSecurityLevelMember getIssueSecurityLevelMembers(@PathParam("issueSecuritySchemeId") Long issueSecuritySchemeId, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults, @QueryParam("issueSecurityLevelId") Set<String> issueSecurityLevelId, @QueryParam("expand") String expand) throws ApiException, ProcessingException;
}
