/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.ContainerForProjectFeatures;
import com.atlassian.jira.v3.model.ProjectFeatureState;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/project/{projectIdOrKey}/features")
public interface ProjectFeaturesApi {

	/**
	 * Get project features
	 *
	 * Returns the list of features for a project.
	 *
	 */
	@GET

	@Produces({"application/json"})
	ContainerForProjectFeatures getFeaturesForProject(@PathParam("projectIdOrKey") String projectIdOrKey) throws ApiException, ProcessingException;

	/**
	 * Set project feature state
	 *
	 * Sets the state of a project feature.
	 *
	 */
	@PUT
	@Path("/{featureKey}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	ContainerForProjectFeatures toggleFeatureForProject(@PathParam("projectIdOrKey") String projectIdOrKey, @PathParam("featureKey") String featureKey, ProjectFeatureState projectFeatureState) throws ApiException, ProcessingException;
}
