/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.ProjectType;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/project/type")
public interface ProjectTypesApi {

	/**
	 * Get accessible project type by key
	 *
	 * Returns a [project type](https://confluence.atlassian.com/x/Var1Nw) if it is accessible to the user.  **[Permissions](#permissions) required:** Permission to access Jira.
	 *
	 */
	@GET
	@Path("/{projectTypeKey}/accessible")
	@Produces({"application/json"})
	ProjectType getAccessibleProjectTypeByKey(@PathParam("projectTypeKey") String projectTypeKey) throws ApiException, ProcessingException;

	/**
	 * Get licensed project types
	 *
	 * Returns all [project types](https://confluence.atlassian.com/x/Var1Nw) with a valid license.
	 *
	 */
	@GET
	@Path("/accessible")
	@Produces({"application/json"})
	List<ProjectType> getAllAccessibleProjectTypes() throws ApiException, ProcessingException;

	/**
	 * Get all project types
	 *
	 * Returns all [project types](https://confluence.atlassian.com/x/Var1Nw), whether or not the instance has a valid license for each type.  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** None.
	 *
	 */
	@GET

	@Produces({"application/json"})
	List<ProjectType> getAllProjectTypes() throws ApiException, ProcessingException;

	/**
	 * Get project type by key
	 *
	 * Returns a [project type](https://confluence.atlassian.com/x/Var1Nw).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** None.
	 *
	 */
	@GET
	@Path("/{projectTypeKey}")
	@Produces({"application/json"})
	ProjectType getProjectTypeByKey(@PathParam("projectTypeKey") String projectTypeKey) throws ApiException, ProcessingException;
}
