/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.ActorInputBean;
import com.atlassian.jira.v3.model.ActorsMap;
import com.atlassian.jira.v3.model.ProjectRole;
import com.atlassian.jira.v3.model.ProjectRoleActorsUpdateBean;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface ProjectRoleActorsApi {

	/**
	 * Add actors to project role
	 *
	 * Adds actors to a project role for the project.  To replace all actors for the project, use [Set actors for project role](#api-rest-api-3-project-projectIdOrKey-role-id-put).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project or *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/project/{projectIdOrKey}/role/{id}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	ProjectRole addActorUsers(@PathParam("projectIdOrKey") String projectIdOrKey, @PathParam("id") Long id, ActorsMap actorsMap) throws ApiException, ProcessingException;

	/**
	 * Add default actors to project role
	 *
	 * Adds [default actors](#api-rest-api-3-resolution-get) to a role. You may add groups or users, but you cannot add groups and users in the same request.  Changing a project role&#39;s default actors does not affect project role members for projects already created.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/role/{id}/actors")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	ProjectRole addProjectRoleActorsToRole(@PathParam("id") Long id, ActorInputBean actorInputBean) throws ApiException, ProcessingException;

	/**
	 * Delete actors from project role
	 *
	 * Deletes actors from a project role for the project.  To remove default actors from the project role, use [Delete default actors from project role](#api-rest-api-3-role-id-actors-delete).  This operation can be accessed anonymously.  **[Permissions](#permissions) required:** *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project or *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/project/{projectIdOrKey}/role/{id}")
	void deleteActor(@PathParam("projectIdOrKey") String projectIdOrKey, @PathParam("id") Long id, @QueryParam("user") String user, @QueryParam("group") String group, @QueryParam("groupId") String groupId) throws ApiException, ProcessingException;

	/**
	 * Delete default actors from project role
	 *
	 * Deletes the [default actors](#api-rest-api-3-resolution-get) from a project role. You may delete a group or user, but you cannot delete a group and a user in the same request.  Changing a project role&#39;s default actors does not affect project role members for projects already created.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/role/{id}/actors")
	@Produces({"application/json"})
	ProjectRole deleteProjectRoleActorsFromRole(@PathParam("id") Long id, @QueryParam("user") String user, @QueryParam("groupId") String groupId, @QueryParam("group") String group) throws ApiException, ProcessingException;

	/**
	 * Get default actors for project role
	 *
	 * Returns the [default actors](#api-rest-api-3-resolution-get) for the project role.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/role/{id}/actors")
	@Produces({"application/json"})
	ProjectRole getProjectRoleActorsForRole(@PathParam("id") Long id) throws ApiException, ProcessingException;

	/**
	 * Set actors for project role
	 *
	 * Sets the actors for a project role for a project, replacing all existing actors.  To add actors to the project without overwriting the existing list, use [Add actors to project role](#api-rest-api-3-project-projectIdOrKey-role-id-post).  **[Permissions](#permissions) required:** *Administer Projects* [project permission](https://confluence.atlassian.com/x/yodKLg) for the project or *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/project/{projectIdOrKey}/role/{id}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	ProjectRole setActors(@PathParam("projectIdOrKey") String projectIdOrKey, @PathParam("id") Long id, ProjectRoleActorsUpdateBean projectRoleActorsUpdateBean) throws ApiException, ProcessingException;
}
