/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.AddFieldBean;
import com.atlassian.jira.v3.model.MoveFieldBean;
import com.atlassian.jira.v3.model.ScreenableField;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/screens/{screenId}/tabs/{tabId}/fields")
public interface ScreenTabFieldsApi {

	/**
	 * Add screen tab field
	 *
	 * Adds a field to a screen tab.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	ScreenableField addScreenTabField(@PathParam("screenId") Long screenId, @PathParam("tabId") Long tabId, AddFieldBean addFieldBean) throws ApiException, ProcessingException;

	/**
	 * Get all screen tab fields
	 *
	 * Returns all fields for a screen tab.  **[Permissions](#permissions) required:**   *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).  *  *Administer projects* [project permission](https://confluence.atlassian.com/x/yodKLg) when the project key is specified, providing that the screen is associated with the project through a Screen Scheme and Issue Type Screen Scheme.
	 *
	 */
	@GET

	@Produces({"application/json"})
	List<ScreenableField> getAllScreenTabFields(@PathParam("screenId") Long screenId, @PathParam("tabId") Long tabId, @QueryParam("projectKey") String projectKey) throws ApiException, ProcessingException;

	/**
	 * Move screen tab field
	 *
	 * Moves a screen tab field.  If &#x60;after&#x60; and &#x60;position&#x60; are provided in the request, &#x60;position&#x60; is ignored.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/{id}/move")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object moveScreenTabField(@PathParam("screenId") Long screenId, @PathParam("tabId") Long tabId, @PathParam("id") String id, MoveFieldBean moveFieldBean) throws ApiException, ProcessingException;

	/**
	 * Remove screen tab field
	 *
	 * Removes a field from a screen tab.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/{id}")
	void removeScreenTabField(@PathParam("screenId") Long screenId, @PathParam("tabId") Long tabId, @PathParam("id") String id) throws ApiException, ProcessingException;
}
