/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.PageBeanScreenScheme;
import com.atlassian.jira.v3.model.ScreenSchemeDetails;
import com.atlassian.jira.v3.model.ScreenSchemeId;
import com.atlassian.jira.v3.model.UpdateScreenSchemeDetails;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.Set;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/screenscheme")
public interface ScreenSchemesApi {

	/**
	 * Create screen scheme
	 *
	 * Creates a screen scheme.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	ScreenSchemeId createScreenScheme(ScreenSchemeDetails screenSchemeDetails) throws ApiException, ProcessingException;

	/**
	 * Delete screen scheme
	 *
	 * Deletes a screen scheme. A screen scheme cannot be deleted if it is used in an issue type screen scheme.  Only screens schemes used in classic projects can be deleted.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	@Path("/{screenSchemeId}")
	@Produces({"application/json"})
	void deleteScreenScheme(@PathParam("screenSchemeId") String screenSchemeId) throws ApiException, ProcessingException;

	/**
	 * Get screen schemes
	 *
	 * Returns a [paginated](#pagination) list of screen schemes.  Only screen schemes used in classic projects are returned.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET

	@Produces({"application/json"})
	PageBeanScreenScheme getScreenSchemes(@QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("25") Integer maxResults, @QueryParam("id") Set<Long> id, @QueryParam("expand") @DefaultValue("") String expand, @QueryParam("queryString") @DefaultValue("") String queryString, @QueryParam("orderBy") String orderBy) throws ApiException, ProcessingException;

	/**
	 * Update screen scheme
	 *
	 * Updates a screen scheme. Only screen schemes used in classic projects can be updated.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT
	@Path("/{screenSchemeId}")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateScreenScheme(@PathParam("screenSchemeId") String screenSchemeId, UpdateScreenSchemeDetails updateScreenSchemeDetails) throws ApiException, ProcessingException;
}
