/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.JiraStatus;
import com.atlassian.jira.v3.model.PageOfStatuses;
import com.atlassian.jira.v3.model.StatusCreateRequest;
import com.atlassian.jira.v3.model.StatusUpdateRequest;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/statuses")
public interface StatusApi {

	/**
	 * Bulk create statuses
	 *
	 * Creates statuses for a global or project scope.  **[Permissions](#permissions) required:**   *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)  *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	List<JiraStatus> createStatuses(StatusCreateRequest statusCreateRequest) throws ApiException, ProcessingException;

	/**
	 * Bulk delete Statuses
	 *
	 * Deletes statuses by ID.  **[Permissions](#permissions) required:**   *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)  *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
	 *
	 */
	@DELETE

	@Produces({"application/json"})
	Object deleteStatusesById(@QueryParam("id") List<String> id) throws ApiException, ProcessingException;

	/**
	 * Bulk get statuses
	 *
	 * Returns a list of the statuses specified by one or more status IDs.  **[Permissions](#permissions) required:**   *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)  *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
	 *
	 */
	@GET

	@Produces({"application/json"})
	List<JiraStatus> getStatusesById(@QueryParam("id") List<String> id, @QueryParam("expand") String expand) throws ApiException, ProcessingException;

	/**
	 * Search statuses paginated
	 *
	 * Returns a [paginated](https://developer.atlassian.com/cloud/jira/platform/rest/v3/intro/#pagination) list of statuses that match a search on name or project.  **[Permissions](#permissions) required:**   *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)  *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
	 *
	 */
	@GET
	@Path("/search")
	@Produces({"application/json"})
	PageOfStatuses search(@QueryParam("expand") String expand, @QueryParam("projectId") String projectId, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("200") Integer maxResults, @QueryParam("searchString") String searchString, @QueryParam("statusCategory") String statusCategory) throws ApiException, ProcessingException;

	/**
	 * Bulk update statuses
	 *
	 * Updates statuses by ID.  **[Permissions](#permissions) required:**   *  *Administer projects* [project permission.](https://confluence.atlassian.com/x/yodKLg)  *  *Administer Jira* [project permission.](https://confluence.atlassian.com/x/yodKLg)
	 *
	 */
	@PUT

	@Consumes({"application/json"})
	@Produces({"application/json"})
	Object updateStatuses(StatusUpdateRequest statusUpdateRequest) throws ApiException, ProcessingException;
}
