/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 * <p>
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 * <p>
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.*;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;
import java.util.List;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3")
public interface UsersApi {

	/**
	 * Bulk get users
	 * <p>
	 * Returns a [paginated](#pagination) list of the users specified by one or more account IDs.  **[Permissions](#permissions) required:** Permission to access Jira.
	 *
	 */
	@GET
	@Path("/user/bulk")
	@Produces({"application/json"})
	PageBeanUser bulkGetUsers(@QueryParam("accountId") List<String> accountId, @QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("10") Integer maxResults, @QueryParam("username") List<String> username, @QueryParam("key") List<String> key) throws ApiException, ProcessingException;

	/**
	 * Get account IDs for users
	 * <p>
	 * Returns the account IDs for the users specified in the &#x60;key&#x60; or &#x60;username&#x60; parameters. Note that multiple &#x60;key&#x60; or &#x60;username&#x60; parameters can be specified.  **[Permissions](#permissions) required:** Permission to access Jira.
	 *
	 */
	@GET
	@Path("/user/bulk/migration")
	@Produces({"application/json"})
	List<UserMigrationBean> bulkGetUsersMigration(@QueryParam("startAt") @DefaultValue("0") Long startAt, @QueryParam("maxResults") @DefaultValue("10") Integer maxResults, @QueryParam("username") List<String> username, @QueryParam("key") List<String> key) throws ApiException, ProcessingException;

	/**
	 * Create user
	 *
	 * Creates a user. This resource is retained for legacy compatibility. As soon as a more suitable alternative is available this resource will be deprecated.  If the user exists and has access to Jira, the operation returns a 201 status. If the user exists but does not have access to Jira, the operation returns a 400 status.  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST
	@Path("/user")
	@Consumes({"application/json"})
	@Produces({"application/json"})
	User createUser(NewUserDetails newUserDetails) throws ApiException, ProcessingException;

	/**
	 * Get all users
	 *
	 * Returns a list of all users, including active users, inactive users and previously deleted users that have an Atlassian account.  Privacy controls are applied to the response based on the users&#39; preferences. This could mean, for example, that the user&#39;s email address is hidden. See the [Profile visibility overview](https://developer.atlassian.com/cloud/jira/platform/profile-visibility/) for more details.  **[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/users/search")
	@Produces({"application/json"})
	List<User> getAllUsers(@QueryParam("startAt") @DefaultValue("0") Integer startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Get all users default
	 *
	 * Returns a list of all users, including active users, inactive users and previously deleted users that have an Atlassian account.  Privacy controls are applied to the response based on the users&#39; preferences. This could mean, for example, that the user&#39;s email address is hidden. See the [Profile visibility overview](https://developer.atlassian.com/cloud/jira/platform/profile-visibility/) for more details.  **[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/users")
	@Produces({"application/json"})
	List<User> getAllUsersDefault(@QueryParam("startAt") @DefaultValue("0") Integer startAt, @QueryParam("maxResults") @DefaultValue("50") Integer maxResults) throws ApiException, ProcessingException;

	/**
	 * Get user
	 *
	 * Returns a user.  Privacy controls are applied to the response based on the user&#39;s preferences. This could mean, for example, that the user&#39;s email address is hidden. See the [Profile visibility overview](https://developer.atlassian.com/cloud/jira/platform/profile-visibility/) for more details.  **[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/user")
	@Produces({"application/json"})
	User getUser(@QueryParam("accountId") String accountId, @QueryParam("username") String username, @QueryParam("key") String key, @QueryParam("expand") String expand) throws ApiException, ProcessingException;

	/**
	 * Get user default columns
	 *
	 * Returns the default [issue table columns](https://confluence.atlassian.com/x/XYdKLg) for the user. If &#x60;accountId&#x60; is not passed in the request, the calling user&#39;s details are returned.  **[Permissions](#permissions) required:**   *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLgl), to get the column details for any user.  *  Permission to access Jira, to get the calling user&#39;s column details.
	 *
	 */
	@GET
	@Path("/user/columns")
	@Produces({"application/json"})
	List<ColumnItem> getUserDefaultColumns(@QueryParam("accountId") String accountId, @QueryParam("username") String username) throws ApiException, ProcessingException;

	/**
	 * Get user email
	 *
	 * Returns a user&#39;s email address. This API is only available to apps approved by Atlassian, according to these [guidelines](https://community.developer.atlassian.com/t/guidelines-for-requesting-access-to-email-address/27603).
	 *
	 */
	@GET
	@Path("/user/email")
	@Produces({"application/json"})
	UnrestrictedUserEmail getUserEmail(@QueryParam("accountId") String accountId) throws ApiException, ProcessingException;

	/**
	 * Get user email bulk
	 *
	 * Returns a user&#39;s email address. This API is only available to apps approved by Atlassian, according to these [guidelines](https://community.developer.atlassian.com/t/guidelines-for-requesting-access-to-email-address/27603).
	 *
	 */
	@GET
	@Path("/user/email/bulk")
	@Produces({"application/json"})
	UnrestrictedUserEmail getUserEmailBulk(@QueryParam("accountId") List<String> accountId) throws ApiException, ProcessingException;

	/**
	 * Get user groups
	 *
	 * Returns the groups to which a user belongs.  **[Permissions](#permissions) required:** *Browse users and groups* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET
	@Path("/user/groups")
	@Produces({"application/json"})
	List<GroupName> getUserGroups(@QueryParam("accountId") String accountId, @QueryParam("username") String username, @QueryParam("key") String key) throws ApiException, ProcessingException;

	/**
	 * Delete user
	 *
	 * Deletes a user. If the operation completes successfully then the user is removed from Jira&#39;s user base. This operation does not delete the user&#39;s Atlassian account.  **[Permissions](#permissions) required:** Site administration (that is, membership of the *site-admin* [group](https://confluence.atlassian.com/x/24xjL)).
	 *
	 */
	@DELETE
	@Path("/user")
	void removeUser(@QueryParam("accountId") String accountId, @QueryParam("username") String username, @QueryParam("key") String key) throws ApiException, ProcessingException;

	/**
	 * Reset user default columns
	 *
	 * Resets the default [ issue table columns](https://confluence.atlassian.com/x/XYdKLg) for the user to the system default. If &#x60;accountId&#x60; is not passed, the calling user&#39;s default columns are reset.  **[Permissions](#permissions) required:**   *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), to set the columns on any user.  *  Permission to access Jira, to set the calling user&#39;s columns.
	 *
	 */
	@DELETE
	@Path("/user/columns")
	void resetUserColumns(@QueryParam("accountId") String accountId, @QueryParam("username") String username) throws ApiException, ProcessingException;

	/**
	 * Set user default columns
	 *
	 * Sets the default [ issue table columns](https://confluence.atlassian.com/x/XYdKLg) for the user. If an account ID is not passed, the calling user&#39;s default columns are set. If no column details are sent, then all default columns are removed.  The parameters for this resource are expressed as HTML form data. For example, in curl:  &#x60;curl -X PUT -d columns&#x3D;summary -d columns&#x3D;description https://your-domain.atlassian.net/rest/api/3/user/columns?accountId&#x3D;5b10ac8d82e05b22cc7d4ef5&#39;&#x60;  **[Permissions](#permissions) required:**   *  *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg), to set the columns on any user.  *  Permission to access Jira, to set the calling user&#39;s columns.
	 *
	 */
	@PUT
	@Path("/user/columns")
	@Consumes({"multipart/form-data"})
	@Produces({"application/json"})
	Object setUserColumns(UserColumnRequestBody userColumnRequestBody, @QueryParam("accountId") String accountId) throws ApiException, ProcessingException;
}
