/**
 * The Jira Cloud platform REST API
 * Jira Cloud platform REST API documentation
 *
 * The version of the OpenAPI document: 1001.0.0-SNAPSHOT-8b1a1ff5508af1eb786f141e37a6e5e53cbc3737
 * Contact: ecosystem@atlassian.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.atlassian.jira.v3.api;

import com.atlassian.jira.v3.model.WorkflowTransitionProperty;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import javax.ws.rs.*;

/**
 * The Jira Cloud platform REST API
 *
 * <p>Jira Cloud platform REST API documentation
 *
 */

@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/rest/api/3/workflow/transitions/{transitionId}/properties")
public interface WorkflowTransitionPropertiesApi {

	/**
	 * Create workflow transition property
	 *
	 * Adds a property to a workflow transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@POST

	@Consumes({"application/json"})
	@Produces({"application/json"})
	WorkflowTransitionProperty createWorkflowTransitionProperty(@PathParam("transitionId") Long transitionId, @QueryParam("key") String key, @QueryParam("workflowName") String workflowName, WorkflowTransitionProperty workflowTransitionProperty, @QueryParam("workflowMode") @DefaultValue("live") String workflowMode) throws ApiException, ProcessingException;

	/**
	 * Delete workflow transition property
	 *
	 * Deletes a property from a workflow transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@DELETE
	void deleteWorkflowTransitionProperty(@PathParam("transitionId") Long transitionId, @QueryParam("key") String key, @QueryParam("workflowName") String workflowName, @QueryParam("workflowMode") String workflowMode) throws ApiException, ProcessingException;

	/**
	 * Get workflow transition properties
	 *
	 * Returns the properties on a workflow transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@GET

	@Produces({"application/json"})
	WorkflowTransitionProperty getWorkflowTransitionProperties(@PathParam("transitionId") Long transitionId, @QueryParam("workflowName") String workflowName, @QueryParam("includeReservedKeys") @DefaultValue("false") Boolean includeReservedKeys, @QueryParam("key") String key, @QueryParam("workflowMode") @DefaultValue("live") String workflowMode) throws ApiException, ProcessingException;

	/**
	 * Update workflow transition property
	 *
	 * Updates a workflow transition by changing the property value. Trying to update a property that does not exist results in a new property being added to the transition. Transition properties are used to change the behavior of a transition. For more information, see [Transition properties](https://confluence.atlassian.com/x/zIhKLg#Advancedworkflowconfiguration-transitionproperties) and [Workflow properties](https://confluence.atlassian.com/x/JYlKLg).  **[Permissions](#permissions) required:** *Administer Jira* [global permission](https://confluence.atlassian.com/x/x4dKLg).
	 *
	 */
	@PUT

	@Consumes({"application/json"})
	@Produces({"application/json"})
	WorkflowTransitionProperty updateWorkflowTransitionProperty(@PathParam("transitionId") Long transitionId, @QueryParam("key") String key, @QueryParam("workflowName") String workflowName, WorkflowTransitionProperty workflowTransitionProperty, @QueryParam("workflowMode") String workflowMode) throws ApiException, ProcessingException;
}
